---
layout: default
title: Home
---

<section>
<div class="text-center">
  <img src="public/img/logo.png" class="center-block" width="200px"/>

    
    <h1>Find your ideal sport now</h1>
    <h3>use fields below to list our registered sports</h3>
    <hr>
  
</div>

</section>

 <div class="row">
        <div id="ng-app" ng-app="sportalApp" ng-cloak>
            <div ng-controller="searchCtrl">
                <div class="text-center">
                    <div class="media-block">
                        <a class="anchor" id="sport"></a>
                        <h3>What sport do you want to play</h3>
                        <label>Tennis</label>
                        <input type="checkbox" ng-model="thesports" ng-true-value="Tennis" data-ng-false-value='' />
                        <label>Tennis Coaching</label>
                        <input type="checkbox" ng-model="thesports" ng-true-value="TENNIS COACHING" data-ng-false-value='' />
                        <label>Fitness</label>
                        <input type="checkbox" ng-model="thesports" ng-true-value="Fitness" data-ng-false-value='' />
                        <label>Ice</label>
                        <input type="checkbox" ng-model="thesports" ng-true-value="Ice" data-ng-false-value='' />
                        <label>Swimming</label>
                        <input type="checkbox" ng-model="thesports" ng-true-value="Swimming" data-ng-false-value='' />
                        <label>Exercise Class</label>
                        <input type="checkbox" ng-model="thesports" ng-true-value="Exercise Class" data-ng-false-value='' />
                        <hr>
                        <a href="#skill"><button type="button" class="btn btn-info">Next</button></a>
                    </div>
                    <div class="media-block">
                        <a class="anchor" id="skill"></a>
                        <h3>What is your skill level?</h3>
                        <label>Inactive</label>
                        <input type="checkbox" ng-model="theactivity" ng-true-value="1" data-ng-false-value='' />
                        <label>Active</label>
                        <input type="checkbox" ng-model="theactivity" ng-true-value="2" data-ng-false-value='' />
                        <label>Expert</label>
                        <input type="checkbox" ng-model="theactivity" ng-true-value="3" data-ng-false-value='' />
                        <hr>
                        <a href="#available"><button type="button" class="btn btn-info">Next</button></a>
                    </div>
                    <div class="media-block">
                        <a class="anchor" id="available"></a>
                        <h3>What are you available?</h3>
                        <label>Monday</label>
                        <input type="checkbox" ng-model="thedays" ng-true-value="Monday" data-ng-false-value='' />
                        <label>Tuesday</label>
                        <input type="checkbox" ng-model="thedays" ng-true-value="Tuesday" data-ng-false-value='' />
                        <label>Wednesday</label>
                        <input type="checkbox" ng-model="thedays" ng-true-value="Wednesday" data-ng-false-value='' />
                        <label>Thursday</label>
                        <input type="checkbox" ng-model="thedays" ng-true-value="Thursday" data-ng-false-value='' />
                        <label>Friday</label>
                        <input type="checkbox" ng-model="thedays" ng-true-value="Friday" data-ng-false-value='' />
                        <label>Saturday</label>
                        <input type="checkbox" ng-model="thedays" ng-true-value="Saturday" data-ng-false-value='' />
                        <label>Sunday</label>
                        <input type="checkbox" ng-model="thedays" ng-true-value="Sunday" data-ng-false-value='' />
                        <hr>
                        <a href="#results"><button type="button" class="btn btn-info">Next</button></a>
                    </div>

                    <!--
                    <h3>Location?</h3>
                    <button type="button" class="btn btn-default btn-cons">Find</button>
                    -->
                    
                    <hr>

                </div>
                <div class="text-center">
                    <a class="anchor" id="results"></a>
                    <h3><%filtered.length%> Result<%filtered.length == 1 | iif : "" : "s"%></h3><a href="#sport"><button type="button" class="btn btn-default">Start Over</button></a>
                    <p><%filtered.length == 0 | iif : 'There are no search results matching your query at the moment' : ''%></p>

                    <hr>


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Sport</th>
                                <th>Location</th>
                                <th>When</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in filtered = (sports | filter:{day_of_week: thedays} | filter:{activity: thesports} | filter:{effort_rating: theactivity})" ng-cloak>
                                <td><%item.name%></td>
                                <td><%item.activity.title%></td>
                                <td><%item.venue.name%></td>
                                <td><%item.day_of_week%> <%item.start_time%>-<%item.end_time%></td>
                                <td><a href="mailto:<%item.venue.email%>"><button type="button" class="btn btn-info">Contact</button></a></td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>    
    </div> 
