<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item active" href="/sportl-landing/">Home</a>
      <a class="sidebar-nav-item" href="/sportl-landing/UI/">UI</a>
      <a class="sidebar-nav-item" href="/sportl-landing/about/">Roadmap</a>
      <a class="sidebar-nav-item" href="/sportl-landing/presentation/">Presentation</a>
      <a class="sidebar-nav-item" href="/sportl-landing/research/">Research</a>
  </nav>

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; Sportl {{ site.time | date: '%Y' }}.
    </p>
  </div>
</div>
